.jumbotron {
 background: url(images/20.jpg) no-repeat center center; 
 background-size: cover; 
 background-color: transparent;
 height: 500px; 
 margin-bottom: 0px;
 
 } 
 
 .jumbotron .col-md-12 {
	 padding: 100px;
	 width: auto;
	 
 }

 .jumbotron h1 {
 font-size: 80px;
 color: white;
 }
 
 .jumbotron h3 {
 font-size: 30px;
 }
 
 .navbar-light .navbar-nav .nav-link {
	color:black;
}

 .navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 8rem;
	margin-left: 3rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    /* padding-left: 25px; */
    margin-bottom: 0;
    list-style: none;
	padding-left: 0px;
	
}

    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
	margin-left: 0px;
}

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    /* flex-grow: 1; */
    -ms-flex-align: center;
    align-items: left;
}

.navbar-expand-sm .navbar-nav .nav-link {

	Margin-left: 1.8rem;
	margin-right: 0rem;
	
}

.h3, h3 {
    font-size: 1.75rem;
    margin-bottom: 30px;
}

